In [2]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import os
import numpy as np

from matplotlib import pyplot as plt
%matplotlib inline

In [3]:
import sklearn
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from sklearn.linear_model import LinearRegression
from sklearn import preprocessing

In [4]:
dfWeather=pd.read_csv("WeatherDF.csv")
dfWeather = dfWeather.set_index('fullDate')

In [5]:
dfWeather.head()

,year,month,day,hour,temp_c,feelslike_c,wind_mph,humidity,pressure_in,dewpoint_c,chance_of_rain,season,city
fullDate,,,,,,,,,,,,,
2010-01-01 07:00:00,2010,1,1,07:00,17.2,17.2,6.4,83,30.6,14.4,1,winter,herzliya
2010-01-01 07:00:00,2010,1,1,07:00,17.1,17.1,6.0,84,30.6,14.4,1,winter,Hod HaSharon
2010-01-01 07:00:00,2010,1,1,07:00,16.9,16.9,6.2,83,30.6,14.0,1,winter,rishon le zion
2010-01-01 07:00:00,2010,1,1,07:00,17.1,17.1,6.0,84,30.6,14.4,1,winter,petah tiqva
2010-01-01 07:00:00,2010,1,1,07:00,16.1,16.1,4.0,89,30.6,14.2,3,winter,afula

In [6]:
dfWeather.describe()

,year,month,day,temp_c,feelslike_c,wind_mph,humidity,pressure_in,dewpoint_c,chance_of_rain
count,235126.000000,235126.000000,235126.000000,235126.000000,235126.000000,235126.000000,235126.000000,235126.000000,235126.000000,235126.000000
mean,2014.901814,6.495428,15.708765,22.388371,23.032428,7.943638,57.124695,30.405225,12.722512,4.943154
std,3.137373,3.457925,8.794398,6.248127,7.231829,4.235311,15.931156,0.152179,6.279831,16.952198
min,2010.000000,1.000000,1.000000,0.200000,-3.300000,0.200000,4.000000,29.900000,-26.100000,0.000000
25%,2012.000000,3.000000,8.000000,17.300000,17.300000,4.800000,47.000000,30.300000,8.500000,0.000000
50%,2015.000000,7.000000,16.000000,22.900000,24.600000,7.200000,58.000000,30.400000,12.500000,0.000000
75%,2018.000000,10.000000,23.000000,27.500000,28.700000,10.500000,69.000000,30.500000,18.000000,1.000000
max,2020.000000,12.000000,31.000000,44.600000,47.500000,37.100000,100.000000,30.900000,26.900000,94.000000

In [8]:
dfWeather.columns

Index(['year', 'month', 'day', 'hour', 'temp_c', 'feelslike_c', 'wind_mph',
       'humidity', 'pressure_in', 'dewpoint_c', 'chance_of_rain', 'season',
       'city'],
      dtype='object')

In [33]:
dfWeather.loc[dfWeather['season']=='winter','season']=1
dfWeather.loc[dfWeather['season']=='summer','season']=2
dfWeather.loc[dfWeather['season']=='fall','season']=3
dfWeather.loc[dfWeather['season']=='spring','season']=4

In [34]:
dfWeather['season']=dfWeather['season'].astype(int)

In [54]:
dfWeather.info()

<class 'pandas.core.frame.DataFrame'>
Index: 235126 entries, 2010-01-01 07:00:00 to 2020-12-31 20:00:00
Data columns (total 13 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   year            235126 non-null  int64
 1   month           235126 non-null  int64
 2   day             235126 non-null  int64
 3   hour            235126 non-null  object
 4   temp_c          235126 non-null  float64
 5   feelslike_c     235126 non-null  float64
 6   wind_mph        235126 non-null  float64
 7   humidity        235126 non-null  int64
 8   pressure_in     235126 non-null  float64
 9   dewpoint_c      235126 non-null  float64
 10  chance_of_rain  235126 non-null  int64
 11  season          235126 non-null  int32
 12  city            235126 non-null  object
dtypes: float64(5), int32(1), int64(5), object(2)
memory usage: 29.2+ MB

In [42]:
dfWeather_num=dfWeather[list(dfWeather.dtypes[dfWeather.dtypes!='object'].index)]

In [43]:
dfWeather_num.pop('feelslike_c')
dfWeather_num

,year,month,day,temp_c,wind_mph,humidity,pressure_in,dewpoint_c,chance_of_rain,season
fullDate,,,,,,,,,,
2010-01-01 07:00:00,2010,1,1,17.2,6.4,83,30.6,14.4,1,1
2010-01-01 07:00:00,2010,1,1,17.1,6.0,84,30.6,14.4,1,1
2010-01-01 07:00:00,2010,1,1,16.9,6.2,83,30.6,14.0,1,1
2010-01-01 07:00:00,2010,1,1,17.1,6.0,84,30.6,14.4,1,1
2010-01-01 07:00:00,2010,1,1,16.1,4.0,89,30.6,14.2,3,1
...,...,...,...,...,...,...,...,...,...,...
2020-12-31 20:00:00,2020,12,31,19.8,4.1,60,30.5,11.7,1,1
2020-12-31 20:00:00,2020,12,31,14.8,4.6,63,30.5,7.9,1,1
2020-12-31 20:00:00,2020,12,31,17.8,3.0,61,30.5,10.2,1,1
2020-12-31 20:00:00,2020,12,31,19.8,4.1,60,30.5,11.7,1,1
2020-12-31 20:00:00,2020,12,31,17.8,3.0,61,30.5,10.2,1,1

In [44]:
y = dfWeather_num.pop('temp_c')
X = dfWeather_num

In [45]:
dfWeather_num

,year,month,day,wind_mph,humidity,pressure_in,dewpoint_c,chance_of_rain,season
fullDate,,,,,,,,,
2010-01-01 07:00:00,2010,1,1,6.4,83,30.6,14.4,1,1
2010-01-01 07:00:00,2010,1,1,6.0,84,30.6,14.4,1,1
2010-01-01 07:00:00,2010,1,1,6.2,83,30.6,14.0,1,1
2010-01-01 07:00:00,2010,1,1,6.0,84,30.6,14.4,1,1
2010-01-01 07:00:00,2010,1,1,4.0,89,30.6,14.2,3,1
...,...,...,...,...,...,...,...,...,...
2020-12-31 20:00:00,2020,12,31,4.1,60,30.5,11.7,1,1
2020-12-31 20:00:00,2020,12,31,4.6,63,30.5,7.9,1,1
2020-12-31 20:00:00,2020,12,31,3.0,61,30.5,10.2,1,1
2020-12-31 20:00:00,2020,12,31,4.1,60,30.5,11.7,1,1
2020-12-31 20:00:00,2020,12,31,3.0,61,30.5,10.2,1,1

# Spliting the data for training and testing

In [46]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=4)

In [47]:
X_train.head()

,year,month,day,wind_mph,humidity,pressure_in,dewpoint_c,chance_of_rain,season
fullDate,,,,,,,,,
2018-05-03 07:00:00,2018,5,3,5.0,36,30.2,13.6,0,4
2014-02-27 07:00:00,2014,2,27,6.4,63,30.6,9.0,1,1
2010-04-30 13:00:00,2010,4,30,7.2,71,30.4,12.8,1,4
2017-04-21 07:00:00,2017,4,21,7.0,21,30.5,4.1,0,4
2012-11-09 13:00:00,2012,11,9,17.0,58,30.3,13.4,81,3

In [48]:
X_test

,year,month,day,wind_mph,humidity,pressure_in,dewpoint_c,chance_of_rain,season
fullDate,,,,,,,,,
2013-02-18 07:00:00,2013,2,18,6.1,68,30.5,9.5,0,1
2019-05-04 20:00:00,2019,5,4,9.0,81,30.5,14.6,0,4
2011-03-09 13:00:00,2011,3,9,24.0,60,30.4,5.7,21,1
2018-08-28 20:00:00,2018,8,28,6.6,65,30.3,17.9,0,2
2011-01-13 13:00:00,2011,1,13,13.0,33,30.3,-1.3,0,1
...,...,...,...,...,...,...,...,...,...
2011-01-27 07:00:00,2011,1,27,11.6,47,30.4,5.2,1,1
2018-02-10 07:00:00,2018,2,10,5.4,50,30.3,9.6,2,1
2015-06-03 13:00:00,2015,6,3,13.0,46,30.4,14.4,0,4
2010-11-09 07:00:00,2010,11,9,4.4,31,30.4,5.4,0,3
2010-12-26 07:00:00,2010,12,26,5.2,44,30.6,5.1,1,1

# Building the model

In [153]:
model = LinearRegression(fit_intercept=False)
model.fit(X_train, y_train)

LinearRegression(fit_intercept=False)

In [154]:
pred = model.predict(X_test)

In [155]:
#calculate the error
np.mean((pred-y_test)**2)

1.5601746036260655

In [156]:
pd.DataFrame({'actual': y_test,
              'prediction': pred,
              'diff': (y_test-pred)})

                     actual  prediction      diff
fullDate
2013-02-18 07:00:00    15.4   15.307309  0.092691
2019-05-04 20:00:00    17.9   16.546518  1.353482
2011-03-09 13:00:00    13.3   13.513483 -0.213483
2018-08-28 20:00:00    25.0   25.351740 -0.351740
2011-01-13 13:00:00    15.1   16.053777 -0.953777
...                     ...         ...       ...
2011-01-27 07:00:00    16.7   17.707054 -1.007054
2018-02-10 07:00:00    20.3   22.027638 -1.727638
2015-06-03 13:00:00    27.1   27.434902 -0.334902
2010-11-09 07:00:00    24.4   23.645123  0.754877
2010-12-26 07:00:00    17.8   18.460196 -0.660196

[47026 rows x 3 columns]

In [120]:
from sklearn import metrics, preprocessing

In [121]:
print(f"mse: {metrics.mean_squared_error(y_test,pred)}")
print(f"r^2: {metrics.r2_score(y_test,pred)}")

mse: 1.5601746036260824
r^2: 0.9597222044465761

# Do analysis of the most significant features that have impact on temperature

In [135]:
dfCoef=pd.DataFrame()

In [157]:
for k,v in sorted(dict(zip(dfWeather_num.columns,abs(model.coef_))).items(),key=lambda x:x[1],reverse=True):
        print(k,v)

pressure_in 2.5916197296821033
dewpoint_c 0.9748158758041249
humidity 0.32121715395088185
season 0.08038062576297864
wind_mph 0.05406848558747149
year 0.05324124616684008
month 0.01016755571992993
chance_of_rain 0.006657899666495043
day 0.0006555567869326759

#  Without pressure

In [130]:
TRAINING_FEATURE = ['year','month','day','wind_mph','humidity','dewpoint_c','chance_of_rain','season']
TARGET_FEATURE= 'temp_c'

X2 = dfWeather[TRAINING_FEATURE]
y2 = dfWeather[TARGET_FEATURE]

In [131]:
X2_train, X2_test, y2_train, y2_test = train_test_split(X2, y2, test_size = 0.2, random_state=4)

In [132]:
model = LinearRegression()
model.fit(X2_train, y2_train)
pred = model.predict(X2_test)

pd.DataFrame({'actual': y2_test,
              'prediction': pred,
              'diff': (y2_test-pred)})

                     actual  prediction      diff
fullDate
2013-02-18 07:00:00    15.4   15.439578 -0.039578
2019-05-04 20:00:00    17.9   16.376100  1.523900
2011-03-09 13:00:00    13.3   13.744256 -0.444256
2018-08-28 20:00:00    25.0   24.979786  0.020214
2011-01-13 13:00:00    15.1   15.732981 -0.632981
...                     ...         ...       ...
2011-01-27 07:00:00    16.7   17.839612 -1.139612
2018-02-10 07:00:00    20.3   21.449401 -1.149401
2015-06-03 13:00:00    27.1   27.720193 -0.620193
2010-11-09 07:00:00    24.4   23.715912  0.684088
2010-12-26 07:00:00    17.8   18.875438 -1.075438

[47026 rows x 3 columns]

In [133]:
print(f"mse: {metrics.mean_squared_error(y2_test,pred)}")
print(f"r^2: {metrics.r2_score(y2_test,pred)}")

mse: 1.6337190395829637
r^2: 0.9578235658271046

#  Without humidity

In [106]:
TRAINING_FEATURE =  ['year','month','day','wind_mph','pressure_in','dewpoint_c','chance_of_rain','season']
TARGET_FEATURE= 'temp_c'

X3 = dfWeather[TRAINING_FEATURE]
y3 = dfWeather[TARGET_FEATURE]

X3_train, X3_test, y3_train, y3_test = train_test_split(X3, y3, test_size = 0.2, random_state=4)

model = LinearRegression()
model.fit(X3_train, y3_train)
pred = model.predict(X3_test)

pd.DataFrame({'actual': y3_test,
              'prediction': pred,
              'diff': (y3_test-pred)})

                     actual  prediction      diff
fullDate
2013-02-18 07:00:00    15.4   17.588764 -2.188764
2019-05-04 20:00:00    17.9   22.141940 -4.241940
2011-03-09 13:00:00    13.3   17.617340 -4.317340
2018-08-28 20:00:00    25.0   26.405999 -1.405999
2011-01-13 13:00:00    15.1   17.933995 -2.833995
...                     ...         ...       ...
2011-01-27 07:00:00    16.7   17.801343 -1.101343
2018-02-10 07:00:00    20.3   21.208321 -0.908321
2015-06-03 13:00:00    27.1   24.286347  2.813653
2010-11-09 07:00:00    24.4   22.436980  1.963020
2010-12-26 07:00:00    17.8   17.855885 -0.055885

[47026 rows x 3 columns]

In [107]:
print(f"mse: {metrics.mean_squared_error(y3_test,pred)}")
print(f"r^2: {metrics.r2_score(y3_test,pred)}")

mse: 14.058655061261984
r^2: 0.6370588054711547

#  Without wind

In [108]:
TRAINING_FEATURE = ['year','month','day','humidity','pressure_in','dewpoint_c','chance_of_rain','season']
TARGET_FEATURE= 'temp_c'

X4 = dfWeather[TRAINING_FEATURE]
y4 = dfWeather[TARGET_FEATURE]

X4_train, X4_test, y4_train, y4_test = train_test_split(X4, y4, test_size = 0.2, random_state=4)

model = LinearRegression()
model.fit(X4_train, y4_train)
pred = model.predict(X4_test)

pd.DataFrame({'actual': y4_test,
              'prediction': pred,
              'diff': (y4_test-pred)})

                     actual  prediction      diff
fullDate
2013-02-18 07:00:00    15.4   15.367738  0.032262
2019-05-04 20:00:00    17.9   16.386580  1.513420
2011-03-09 13:00:00    13.3   14.635596 -1.335596
2018-08-28 20:00:00    25.0   25.118187 -0.118187
2011-01-13 13:00:00    15.1   16.617136 -1.517136
...                     ...         ...       ...
2011-01-27 07:00:00    16.7   18.167198 -1.467198
2018-02-10 07:00:00    20.3   21.664880 -1.364880
2015-06-03 13:00:00    27.1   27.657609 -0.557609
2010-11-09 07:00:00    24.4   23.809049  0.590951
2010-12-26 07:00:00    17.8   18.661908 -0.861908

[47026 rows x 3 columns]

In [109]:
print(f"mse: {metrics.mean_squared_error(y4_test,pred)}")
print(f"r^2: {metrics.r2_score(y4_test,pred)}")

mse: 1.5546890928957544
r^2: 0.9598638195447765

#  Without dewpoint

In [110]:
TRAINING_FEATURE =  ['year','month','day','humidity','pressure_in','wind_mph','chance_of_rain','season']
TARGET_FEATURE= 'temp_c'

X5 = dfWeather[TRAINING_FEATURE]
y5 = dfWeather[TARGET_FEATURE]

X5_train, X5_test, y5_train, y5_test = train_test_split(X5, y5, test_size = 0.2, random_state=4)

model = LinearRegression()
model.fit(X5_train, y5_train)
pred = model.predict(X5_test)

pd.DataFrame({'actual': y5_test,
              'prediction': pred,
              'diff': (y5_test-pred)})

                     actual  prediction      diff
fullDate
2013-02-18 07:00:00    15.4   16.528733 -1.128733
2019-05-04 20:00:00    17.9   17.588047  0.311953
2011-03-09 13:00:00    13.3   17.100398 -3.800398
2018-08-28 20:00:00    25.0   25.321646 -0.321646
2011-01-13 13:00:00    15.1   24.237482 -9.137482
...                     ...         ...       ...
2011-01-27 07:00:00    16.7   20.117865 -3.417865
2018-02-10 07:00:00    20.3   24.157041 -3.857041
2015-06-03 13:00:00    27.1   23.788720  3.311280
2010-11-09 07:00:00    24.4   27.992470 -3.592470
2010-12-26 07:00:00    17.8   20.967946 -3.167946

[47026 rows x 3 columns]

In [111]:
print(f"mse: {metrics.mean_squared_error(y5_test,pred)}")
print(f"r^2: {metrics.r2_score(y5_test,pred)}")

mse: 13.426800000667045
r^2: 0.6533709085465991

#  Without chance of rain

In [112]:
TRAINING_FEATURE =  ['year','month','day','humidity','pressure_in','wind_mph','dewpoint_c','season']
TARGET_FEATURE= 'temp_c'

X6 = dfWeather[TRAINING_FEATURE]
y6 = dfWeather[TARGET_FEATURE]

X6_train, X6_test, y6_train, y6_test = train_test_split(X6, y6, test_size = 0.2, random_state=4)

model = LinearRegression()
model.fit(X6_train, y6_train)
pred = model.predict(X6_test)

pd.DataFrame({'actual': y6_test,
              'prediction': pred,
              'diff': (y6_test-pred)})

                     actual  prediction      diff
fullDate
2013-02-18 07:00:00    15.4   15.480369 -0.080369
2019-05-04 20:00:00    17.9   16.339693  1.560307
2011-03-09 13:00:00    13.3   13.936293 -0.636293
2018-08-28 20:00:00    25.0   25.214834 -0.214834
2011-01-13 13:00:00    15.1   16.566220 -1.466220
...                     ...         ...       ...
2011-01-27 07:00:00    16.7   18.073458 -1.373458
2018-02-10 07:00:00    20.3   21.910315 -1.610315
2015-06-03 13:00:00    27.1   27.394657 -0.294657
2010-11-09 07:00:00    24.4   23.987686  0.412314
2010-12-26 07:00:00    17.8   18.746975 -0.946975

[47026 rows x 3 columns]

In [113]:
print(f"mse: {metrics.mean_squared_error(y6_test,pred)}")
print(f"r^2: {metrics.r2_score(y6_test,pred)}")

mse: 1.5254626394654809
r^2: 0.9606183358106356